/*
   This file contains styles specifically for the current application.
 */
 

.title {
	font-size: 3em;
	font-weight: bold;
	padding-top: 6px;
}

body {
    /* Body Regular: */
    font-family: HelveticaNeue-Thin,Helvetica,"Droid Sans",Arial,Sans-serif;
    font-size: 15px;
    font-weight:400;
    color: #434c50;
    line-height: 18px;
}

h1, h2, h3, h4 {	
	font-family: HelveticaNeue,Helvetica,"Droid Sans",Arial,sans-serif;
    color: #434c50;
    padding-bottom: 0.5em;
}

.dialogformsection input[type="text"],.dialogformsection textarea, .formcontrolssection input[type="text"], 
.formcontrolssection textarea, .formcontrolssection input[type="password"] {
     width: 360px;
 }

.formcontrolssection > input[type="text"], .formcontrolssection > input[type="password"], .formcontrolssection > textarea {
    border: thin solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
}

a:focus {
    outline: none;
    outline-offset: 0px;
} 

.formcontrolssection > input[type="text"].intTextBox,
.formcontrolssection input[type="text"].intTextBox {
    width: 75px;
}

.dialogformsection input.datePicker {
	width: 135px;
}

#mainBody {
    position: relative;
    top: 0; 
	left: 0;
	clear: both;
	padding-bottom: 105px; /*so footer doesn't overlap anything on the bottom */
    margin-left: 0;
    margin-right: 0;
}

#main.grid {
	background: url("images/grid.gif") repeat-y scroll 8px -12px white;
}

.arc-intTextBox {
	width: 5em;
}

#mainContent {
	overflow: visible;
	/* background-image: url("images/main_border_top.png"); 
	background-position: top left;
	background-repeat: repeat-x; */
    margin: 0 26px 100px 26px;
	padding-top: 5px;
	padding-left: 10px;
	width: 92%;
    margin-top: 75px;
}

#mainContent h2 {
    margin-bottom: 18px;
}

#mainFooterContainer {
	padding-bottom: 20px;
	padding-left: 210px;
	background: url("images/netiq_logo_on_white.png") no-repeat scroll 0 0
		transparent;
	padding-top: 5px;
}

#mainFooter {
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: thin solid lightgray;
	bottom: 0;
	clear: both;
	color: gray;
	height: 38px;
	left: 0;
	margin-top: -51px;
	padding-top: 7px;
	position: fixed;
	width: 100%;
	z-index: 1000;
    display: none;
}

/*
   Form section styles
 */
.dialogformsection {
	list-style: none;
}

.dialogformrow {
	position: static;
	height: auto;
	min-height: 36px;
}

.dialogformrow.sub {
  font-size: 10px;
  height: 10px;
  padding-left: 20px;
   margin-top: -7px;
}
.dialogformrow.sub input {
	font-size:10px;
}

.attrPropCBs .dialogformrow {
	margin-bottom: 10px;
}

.tallformrow {
	position: static;
	height: auto;
	min-height: 42px;
}

.extratallformrow {
	position: static;
	height: auto;
	min-height: 56px;
}

.shortformrow {
    position: static;
    height: auto;
    min-height: 14px;
}

.dialogformlabel {
	position: static;
	display: inline-block;
	top: auto;
	left: auto;
	text-align: right;
	width: 155px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #808080;
}

.formcontrolssection {
	position: static;
	display: inline-block;
	left: auto;
	top: auto;
	width: 415px;
	vertical-align: top;
	margin-left: 20px;
}

.formcontrolssection.extraWideRowControl {
    width: 600px;
}

.formcontrolssection.noLabel {
    margin-left: 175px;
}

.wideTextField {
	width: 330px; /* 155 + 20 + 155 */
}

.slimTextField {
	width: 155px;
}

.formcontrollabel {
	margin-right: 0.5em;
}

.nolabel {
	margin-left: 175px;
}

.suppCtrl {
	position: static;
	margin-left: 10px;
	vertical-align: top;
	margin-right: 40px;
}

.formColumnLabel,.formColumnLabel span {
	color: #000040;
	font-weight: bold;
	text-decoration: underline;
}


.formColumnTwo {
    width: 400px;
}

/*
   Form section titles
 */
.sectionTitle {
	background-color: #EDEEEC;
	color: black;
	font-size: 16px;
	margin-top: 14px;
	margin-bottom: 22px;
	height: 28px;
	text-align: left;
	text-indent: 0.2em;
	width: 100%;
	line-height: 28px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 2px 2px #C8C8C8;
	white-space: nowrap;
	overflow: hidden;
}

.subSectionTitle {
	color: black;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin-bottom: 4px;
	margin-top: 9px;
	text-align: left;
	text-indent: 0.2em;
	width: 659px;
	margin-left: 20px;
	border-bottom: thin solid lightgray;
	position: relative;
}

.arc-drop-down {
	position: relative;
	top: 0;
	left: 200px;
	width: 35em;
}

.arc-checkbox {
	position: relative;
	top: 0;
	left: 115px;
	height: 14px;
}

.hoverMenu {
	background-color: #EAEAEA;
	height: 36px;
}

.hoverMenu .hoverSubMenu {
	visibility: hidden;
}

.hoverMenu:hover .hoverSubMenu {
	font-size: 10px;
	visibility: visible;
}

.headerRowFormatter td {
	font-size: 14px;
}


div.detailSubList div.pulldownprefspanel {
	top: -24px;
}

.marginRight {
    margin-right: 8px;
}

.paddingLeft {
    padding-left: 25px;
}

div.cell {
    line-height: 27px;
    border: thin solid #E9E9E9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease; /**transition both box-shadow and background*/
}

div.cell h2 {
    margin-top: -2px;
    margin-bottom: 1px;
    line-height: 48px;
    padding-left: 42px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.slidegrid {
    left: -20px;
}

div.cell div.weak {
    font-size: 0.75em;
    line-height: 14px;
    margin-bottom: 5px;
}

.refreshRC {
    background: url("images/icon_refresh.png") no-repeat scroll bottom center transparent;
    height: 22px;
    width: 22px;
    display: inline-block;
    margin-left: 15px;
    background-size: 20px;
    transition: background-size 0.25s ease-in;
    -webkit-transition: background-size 0.25s ease-in;
}

.refreshRC:hover {
    background-size: 22px;
}

#USERLastSearch, #GROUPLastSearch, #APPLICATIONLastSearch, #PERMISSIONLastSearch {
    background: url(images/icon_search_results.png) no-repeat scroll 0 0 transparent;
    background-size: 25px;
    position: relative;
    margin-left: .5em;
    padding: 5px 0 21px 50px;
}

.tooltip.AttrDef .dialogformsection input[type="text"] {
    width: 320px;
}

.AttrDef.tooltip h3.subSectionTitle {
    font-size: 14px;
    width: 438px;
    margin-bottom: 14px;
    margin-top: 14px;
}

.attrPropCBs {
	-moz-column-gap: 20px;
	-moz-column-width: 204px;
	-webkit-column-gap: 20px;
	-webkit-column-width: 204px;
	column-gap: 20px;
	column-width: 204px;
	margin-left: 15px;
}

.attrPropCBs li.dialogformrow:first-child {
    margin-top: 0;
}

#errorpanel {
    z-index: 5;
}

.ua-footerMiddle {
	position: absolute;
    padding-bottom: 30px;
    white-space: nowrap;
}

tr.rowFormatterOdd > td, tr.rowFormatterEven > td {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr.rowFormatterOdd > td > div, p, tr.rowFormatterEven >  td > div, p {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#headerMenuItem_help {
    display: none;
}

#USERAttributeList .rowsPerPage, #GROUPAttributeList .rowsPerPage, #ACCOUNTAttributeList .rowsPerPage, #PERMISSIONAttributeList .rowsPerPage {
    display: none;
}

.publishChk {
    display: inline-block;
    padding: 10px;
}

#QuickInfoTooltip .Caption {
    border-bottom: thin dotted #808080;
}

.dialogMiddleCenterInner.dialogContent {
    padding: 14px 14px 0;
}

.wideRowControl {
    width: 510px;
}

.move-left-top {
    margin-left: 185px;
    margin-top: -24px;
}

.cron-details {
    height: 150px;
}

.elemRightAlign {
    float: right;
}

.elemVerticalAlignTop {
	vertical-align: top;
}

.colButtonContainer{
    display: inline-block;
    width: 50%;
    padding-left: 15px;
}

.colButtonContainerDetail {
    display: inline-block;
    float: right;
    width: 50%;
    padding-top: 10px;
}

.templateVersion {
    margin-left: 0.5em;
}

.nonActive {
    background-color: #d3d3d3;
}

.sortableList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.sortableList li {
	position: relative;
    display: inline-block;
    width: 271px;
    height: 160px;
    margin: 8px 32px 6px 0;
    padding: 1px;
    border-radius: 6px;
    border: 1px solid lightgray;
    background: #fbfbfc;
    vertical-align: bottom;
}

div.tab-content {
    margin-top: 1em;
}

.tri-state-anchor {
    height: 22px;
    width: 22px;
    display: inline-block;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images_focus/icon_add.png");
    background-origin: padding-box;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 20px auto;
    transition: background-size 0.25s ease-in;
    cursor: pointer;
}

.tri-state-anchor.dsSave.disabled, .tri-state-anchor.dsSave.disabled_two, .tri-state-anchor.dsSave.disabled_three {
    background: url("images_focus/icon_save.png") no-repeat scroll bottom center transparent;
    opacity: 0.29;
    cursor: default;
    background-size:20px;
}

.tri-state-anchor.addSrc.disabled {
    opacity: 0.29;
    cursor: default;
    background-size:20px;
}

.tri-state-anchor.dsSave {
    background: url("images_focus/icon_save.png") no-repeat scroll bottom center transparent;
    height: 22px;
    width: 22px;
    display: inline-block;
    background-size: 20px;
    transition: background-size 0.25s ease-in;
}

.tri-state-anchor.dsPublish {
    background: url("images/icon_publish.png") no-repeat scroll bottom center transparent;
    height: 22px;
    width: 22px;
    display: inline-block;
    background-size: 20px;
    transition: background-size 0.25s ease-in;
    -webkit-transition: background-size 0.25s ease-in;
}

.tri-state-anchor.inprogress {
    background: url("images_focus/circle_anim_14.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}

h1.pageTitleWithButtons {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: auto;
    margin-top: auto;
    text-overflow: ellipsis;
    color: #434C50;
    line-height: 25px;
    padding-bottom: 0.5em;
    vertical-align: middle;
    padding-right: 2em;
}

h1.pageTitleWithButtons >span {
	max-width: 520px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}

h1.pageTitleNoButtons {
	display: inline-block;
	max-width: 700px;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: auto;
	margin-top: auto;
	text-overflow: ellipsis;
	color: #434C50;
	line-height: 25px;
	vertical-align: middle;
}

h1.secondPageTitle {
    margin-top: 56px;
}

h1.title_with_back_button {
    margin-top: 0.5em;
}

.idenButtonContainer, .appButtonContainer {
    margin-left: 40px;
    display: inline-block;
    position: relative;
}

#errorpanel {
    background: #E6E6E6;
    border: thin solid darkgray;
    font-size: 18px;
    line-height: 28px;
    color: #E00000;
    position: relative;
    padding: 1em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-right: 2em;
    display: none;
}

.expandable {
    background: url("images/arrows.png") no-repeat scroll 0 -133px rgba(0, 0, 0, 0);
    padding-left: 20px;
}

.expandable.expanded {
    background: url("images/arrows.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
}

.humanMsgInfo {
    background-color: black;
    color: white;
    opacity: 1;
}

.humanMsg {
    padding: 1em;
    line-height: 28px;
    border: thin solid lightgray;
    border-radius: 0.5em;
    display: none;
}

.humanMsg .round {
    border-left: none;
    border-right: none;
}

.topStatus {
    background: url("images/transparent.png") repeat scroll 0 0 #fef9ec;
    background: rgba(250, 225, 160, 0.2);
    border: 1px solid #cccccc;
    border-radius: 6px 6px 6px 6px;
    padding: 5px 5px;
    top: 106px;
    width: 71.5%;
    z-index: 110;
}

label.radioLabel {
    position: relative;
    top: 0;
}

label.radioLabel input {
    position: relative;
    top: 0;
    left: 3px;
}

label.radioLabel input {
    margin-right: 3px;
}

label.secondRadioLabel {
    margin-left: 1.5em;
}

.calendar {
    background: url("images/icon_calendar.png") no-repeat scroll 0 0 transparent;
    padding: 4px 0 0 20px;
}

.bottomBtn {
    margin-left: 70%;
}

.modal-open .modal {
    background: rgba(0,0,0,0.2);
}

.dialog-caption {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-indent: 20px;
    margin-bottom: 10px;
}

button.loading {
    background: url("images/button_loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    text-indent: -9999px;
    width: 75px;
}

button:disabled {
    opacity: 0.3;
}

.longQuestionRow {
    border-top: thin solid #e9eaed;
    padding-top: 14px;
    width: 700px;
}

.longQuestionRow .dialogformlabel {
    width: 255px;
    text-align: left;
}

div.inlineObjectInfoBox {
    background: #e9eaed;
    padding: 14px;
    border: thin solid lightgray;
    border-radius: 6px;
    max-width: 700px;
    margin-top: 28px;
    margin-bottom: 28px;
}

a.delete {
    margin-left: 2em;
	background: url("images_focus/icon_delete.png") no-repeat scroll transparent;
	background-size:25px;
    position: relative;
    top: 0;
}

a.delete.disabled {
    margin-left: 2em;
	background: url("images_focus/icon_delete.png") no-repeat scroll transparent;
	background-size:25px;
    opacity: 0.29;
}

a.back_to_list {
    background: transparent url("images_focus/icon_back.png") no-repeat scroll 0 0 / 16px auto;
    position: absolute; 
    padding: 5px 12px 12px 5px;
    margin-left: 1em;
	top: -28px;
	left: -35px;
    display: none;
}

a.back_to_list.relative {
    position: relative;
    top: 0;
    left: 0;
}

div.tabContentPanel {
    position: relative;
}

button.btn-cancel {
    background: lightgray;
    border-color: gray;
    color: #222222;
}

div.detailPage {
    position: relative;
}

input.datePicker,
.formcontrolssection input[type="text"].datePicker {
    width: 125px;
}

button.datePickerBtn {
    padding: 0;
    border: none;
    margin-left: 2px;
}

.dialogformsection table.timePicker input {
    width: 50px;
    margin-top: 0;
}

div.dateTimeSection .dropdown-menu th button.btn-sm {
    margin-top: -22px;
    margin-left: 2px;
}

div.dateTimeSection {
    position: relative;
}

div.dateTimeSection table.timePicker {
    position: absolute;
    top: -27px;
    left: 200px;
}

div.dateTimeSection table.timePicker button {
    padding: 3px 4px;
    margin-left: 0.5em;
    margin-top: -20px;
}
div.dateTimeSection table.timePicker button {
}


div.dateTimeSection table.timePicker a.btn {
    padding: 0;
}

span.dateTimePickerAt {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

div.dateTimeSection button.btn-danger, div.dateTimeSection button.btn-info {
    display: none;
}

div.dateTimeSection .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 3px;
}

div.dateTimeSection div.formfeedback {
    margin-left: 165px;
}

div.dateTimeSection.disabled div.formfeedback {
    display: none;
}

.dialogformsection div.dateTimeSection.disabled table.timePicker a span:before {
    content: " ";
}

#mainWrap .close:hover, #mainWrap .close:focus {
    text-decoration: none;
}

div.pageloading {
    background: url("images_focus/circle_anim_50.gif") no-repeat scroll center top transparent;
    width: 300px;
    padding-top: 75px;
    margin: 0 auto;
    text-align: center;
}

span.pagewarninglabel, div.invalidTime {
    background-color: #fcf8e3;
    border: thin solid #faebcc;
    color: #8a6d3b;
    width: 600px;
    margin: 0 auto;
    display: block;
    padding: 15px;
    border-radius: 4px;
}

div.invalidTime {
    display: none;
}

a.filePicker {
	background-image: url("images/icon_publish.png");
	background-position: top left;
	background-repeat: repeat-x;
	background-color: rgba(0, 0, 0, 0);
	width: 20px;
	height: 20px;
	display: inline-block;
}

.acName {
    
}

.acDesc {
    color: #444;
    font-size: 0.8em;
}

.entityAutocompleterWidget {
	position: relative;
}

.entityAutocompleterWidgetShowFeedBack div.formfeedback.error {
	display: inline-block;
}

.genericErrorMessage {
    color: #CC0000;
}

.upCaret {
    border-bottom: 5px solid #EDEDED;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    width: 0;
}

a.imagePicker {
	background-image: url("images/icon_publish.png");
	background-position: top left;
	background-repeat: repeat-x;
	background-color: rgba(0, 0, 0, 0);
	width: 20px;
	height: 20px;
	display: inline-block;
}

.invalidStyleAttributeUsage {
    color: #CC0000;
    background-color: lightpink;
    border: dotted 2px lightgreen;
}

button.dropdown-toggle {
    border-color: #dedede;
    color: #0088ce;
	margin-top: 0px;
}

img.userSelectedImage {
    max-width: 100px;
}

.idmSynchronizationWarning:after, .idmAppSourceNotConfigured:before {
    content: "";
    display: inline-block;
    background: url("images/icon_status_warning.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.calendar, button.datePickerBtn {
    background: url("images_focus/icon_calendar.png") no-repeat scroll 0 0 transparent;
    background-size: 20px 20px;    
    padding: 4px 0 0 20px;
}

.glyphicon-calendar:before {
    content: "";
}

/*
 * We want to make sure there is enough space for the calendar buttons so they don't overlap on Mac
 */
div.dateTimeSection .btn {
    min-width: 90px;
}

table.timePicker .btn, div.dateTimeSection button.btn.datePickerBtn  {
    min-width: 2px;
}

div.dateTimeSection .btn-sm, div.dateTimeSection .btn-group-sm > .btn {
    min-width: 40px;
}

.weakAndSmall {
	color: gray;
	font-size: 12px;
}

a.close {
    background: url("images_focus/icon_X.png") no-repeat scroll transparent;
    background-size:16px;
    text-indent: -99999px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.glyphicon-chevron-up:before, .glyphicon-chevron-down:before {
    content: "";
}

.glyphicon-chevron-up {
    background: url("images_focus/icon_arrow_up.png") no-repeat scroll 0 0 transparent;
    background-size:15px;
    display: inline-block;
    width: 15px;
    height: 10px;
}

.glyphicon-chevron-down {
    background: url("images_focus/icon_arrow_down.png") no-repeat scroll 0 0 transparent;
    background-size:15px;
    display: inline-block;
    width: 15px;
    height: 10px;
}

/* badge more square for info, different from action badge */
.badgeInfo {
    border-radius: 5px;
    color: #808080;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    min-width: 10px;
    padding: 0px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    opacity: 0.7;
}

.panel-title > a > span.badgeInfo {
    vertical-align: baseline;
}

input[type="radio"], input[type="checkbox"] {
	margin: 4px 10px 0px;
	line-height: normal;
	transform: scale(1.5, 1.5);
}

.cursorPointer {
	cursor: pointer;
}

.nav-tabs > li {
    margin-top: 0px;
}
